<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header" />

<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>게시글 목록</h2>
    </div>

    <div th:replace="fragment/nav :: nav"></div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-1">번호</th>
                <th class="col-5">제목</th>
                <th class="col-3">날짜</th>
                <th class="col-2">작성자</th>
                <th class="col-1">조회</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post: ${posts}">
                <td th:text="${post.id}"></td>
                <td><a th:class="link-dark" th:href="@{/posts/{postId}/detail(postId=${post.id})}" th:text="${post.title}"></a></td>
                <td th:text="${#temporals.format(post.writeDateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${post.writer}"></td>
                <td th:text="${post.views}"></td>
            </tr>
            </tbody>
        </table>

        <!-- 페이징 시작 -->
        <nav style="text-align: center;">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" th:href="@{/board(page=1)}" aria-label="<<">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li th:each="num: ${#numbers.sequence(1, lastPage)}" class="page-item">
                    <a class="page-link" th:href="@{/board(page=${num})}" th:text="${num}"></a>
                </li>


                <li class="page-item">
                    <a class="page-link" th:href="@{/board(page=${lastPage})}" aria-label=">>">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- 페이징 끝 -->

        <div th:if="${session.loginMember != null}" class="btn btn-dark" th:onclick="|location.href='@{/posts/new}'|" type="button" style="float:right">글 쓰기</div>
    </div>


</div>


</body>
</html>