<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header" />
<body>

<div th:replace="fragment/nav :: nav"></div>
<div class="py-5 text-center">
    <h2>게시글 조회</h2>
</div>
<div class="container">




    <!--/* 본문 */-->
    <div class="table-responsive">

        <hr class="my-2">
        <table class="table">
            <tr class="table-active">
                <th class="col-2">#</th>
                <th class="col-7" th:text="|${post.title}|"></th>
                <th class="col-3" th:text="|Views.  ${post.views}|"></th>
            </tr>
            <tr>
                <td th:text="${post.id}"></td>
                <td th:text="${post.writer}"></td>
                <td th:text="${#temporals.format(post.writeDateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
            <tr>
                <td colspan="3" th:text="${post.content}" height="auto"
                    style="word-wrap: break-word; white-space:pre-wrap;"></td>
            </tr>
        </table>

        <!--/* 게시글 추천 */-->
        <div class="text-center">
            <button class="btn btn-outline-primary"
                    onclick="updateRecommend()"
                    th:text="|추천 (${post.likes})|"
                    type="button">추천</button>
        </div>

        <hr class="my-2">
        <div>
            <button class="btn btn-outline-dark"
            th:onclick="|location.href='@{/}'|" type="button">목록</button>


            <!--/* 수정, 삭제 */-->
            <div th:if="${session.loginMember != null and session.loginMember.id == post.writerId}" style="float: right">
                <button
                        th:onclick="|location.href='@{/posts/{postId}/edit(postId=${post.id})}'|"
                        class="btn btn-outline-dark"
                        type="button">수정</button>
                <button
                        onclick="deletePost()"
                        class="btn btn-outline-dark"
                        type="button">삭제</button>
            </div>
        </div>
        <hr class="my-2">


        <!--/* 댓글 */-->


        <button type="button"
                class="w-100 btn btn-dark my-1"
                onclick="getCommentList()">새 댓글 확인하기</button>
        <hr class="my-2">


        <!--/* 댓글 목록 시작*/-->
        <div id="commentList"></div>
        <!--/* 댓글 목록 끝*/-->


        <!--/* 로그인 중일 때만 새 댓글 작성 가능 */-->
        <form th:if="${session.loginMember != null}" th:action method="post" class="container">
        <div class="row">
            <div class="col-10">
                <textarea id="newComment" name="newComment" class="w-100 form-control h-100" placeholder="새로운 댓글 작성"></textarea>
            </div>
            <div class="col-2">
                <button class="w-100 btn btn-dark h-100"
                        onclick="addComment()"
                        type="button">댓글 쓰기</button>
            </div>
        </div>
        </form>

        <hr class="my-3">

    </div>
</div>

<div class="container">

</div>

<!--
Ajax 댓글 목록
-->
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:inline="javascript">

    var postId = [[${postId}]]


    $(function (){
        getCommentList();
    })

    function getCommentList() {
        $.ajax({
            type: "GET",
            url: "/posts/" + postId + "/comments",
            // data: form, // api 호출을 위한 요청 변수가 필요하다면 사용해주세요.
            dataType: "text"
        })
            .done(function (result) {
                $("#commentList").replaceWith(result);
                $("#newComment").val('');
            })
            .fail(function() {
                alert("댓글 목록을 불러오는데 실패했습니다.");
            })
    }

    function addComment() {
        $.ajax({
            type: "POST",
            url: "/posts/" + postId + "/comments/new",
            data: {
                newComment: $("#newComment").val()
            },
            dataType: "text"
        })
            .done(function () {
                getCommentList();
            });
    }

    function deletePost() {
        if (confirm("정말로 삭제하시겠습니까?")) {
            $.ajax({
                type: "POST",
                url: "/posts/" + postId + "/delete"
            })
                .done(function (){
                    alert("삭제되었습니다.");
                    location.href = "/";
                })

        }
    }

    function updateRecommend() {
        $.ajax({
            type: "POST",
            url: "/posts/" + postId + "/like"
        })
            .done(function (message){
                alert(message);
                location.reload();
            })
    }






</script>

</body>
</html>