<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="search">

<form th:action="@{/board/search}" method="get" class="container my-3">
    <div class="row justify-content-center">
        <div class="col-2">
            <select class="form-select">
                <option value="">제목</option>
<!--                <option value="">내용</option>-->
<!--                <option value="">제목+내용</option>-->
            </select>
        </div>
        <div class="col-4">
            <input type="text" id="keyword" name="keyword" class="form-control w-100">
        </div>
        <div class="col-1">
            <button class="w-100 btn btn-dark w-auto"
                    type="submit">검색</button>
        </div>
    </div>
</form>
</body>

</html>