<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: header" />

<body>
<div th:replace="fragment/nav :: nav"></div>
<div class="container">
    <div class="py-5 text-center">
        <h2 th:text="|게시글 검색: ${keyword}|">게시글 검색</h2>
    </div>


    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr class="active">
                <th class="col-1">번호</th>
                <th class="col-5">제목</th>
                <th class="col-3">날짜</th>
                <th class="col-2">작성자</th>
                <th class="col-1">조회</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post: ${posts}">
                <td th:text="${post.id}"></td>
                <td><a th:if="${post.commentCount > 0}" th:href="@{/posts/{postId}/detail(postId=${post.id})}"
                       th:text="|${post.title} (${post.commentCount})|"></a>
                    <a th:if="${post.commentCount == 0}" th:href="@{/posts/{postId}/detail(postId=${post.id})}"
                                           th:text="|${post.title}|"></a>

                </td>
                <td th:text="${#temporals.format(post.writeDateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${post.writer}"></td>
                <td th:text="${post.views}"></td>
            </tr>
            </tbody>
        </table>

        <div th:if="${session.loginMember != null}" class="btn btn-dark" th:onclick="|location.href='@{/posts/new}'|" type="button" style="float:right">글 쓰기</div>

        <!-- 검색 -->
        <div th:replace="posts/search :: search"></div>


        <!-- 페이징 시작 -->
        <nav style="text-align: center;">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${posts.first} ? 'disabled' : _">
                    <a class="page-link" th:href="@{/board/search(keyword=${keyword}, page=1)}" aria-label="<<">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li class="page-item" th:classappend="${posts.first} ? 'disabled' : _">
                    <a class="page-link" th:href="${posts.first} ? '#' : @{/board/search(keyword=${keyword}, page=${posts.number})}" aria-label="<">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>

                <li th:each="num: ${#numbers.sequence(1, posts.totalPages)}" class="page-item"
                    th:classappend="${posts.number+1 == num} ? 'active' : _">
                    <a class="page-link" th:href="@{/board/search(keyword=${keyword}, page=${num})}" th:text="${num}"></a>
                </li>

                <li class="page-item" th:classappend="${posts.last} ? 'disabled' : _">
                    <a class="page-link" th:href="${posts.last} ? '#' : @{/board/search(keyword=${keyword}, page=${posts.number+2})}" aria-label=">">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>

                <li class="page-item" th:classappend="${posts.last} ? 'disabled' : _">
                    <a class="page-link" th:href="@{/board/search(keyword=${keyword}, page=${posts.totalPages})}" aria-label=">>">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- 페이징 끝 -->

    </div>


</div>


</body>
</html>