<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="nav">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" th:href="@{/}">게시판</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" th:href="@{/}">메인</a>
                </li>

            </ul>
            <div th:if="${session.loginMember == null}"
                 class="btn btn-dark nav-item" th:onclick="|location.href='@{/login}'|" type="button">로그인</div>
            <div th:if="${session.loginMember != null}">
                <div class="btn btn-dark nav-item" th:onclick="|location.href='@{/mypage}'|" type="button">마이페이지</div>
                <div class="btn btn-dark nav-item" th:onclick="|location.href='@{/logout}'|" type="button">로그아웃</div>
            </div>
        </div>
    </div>
</nav>

<!--<div class="nav justify-content-end">-->
<!--    -->

<!--</div>-->
</body>

</html>